.wrapper>.container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.navigation {
    background: #f4f5f6;
    border-bottom: 0.1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navigation .navigation-title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.navigation .navigation-list {
    list-style: none;
    margin-bottom: 0;
    margin-right: 5rem;
}

.navigation .navigation-item {
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}

.navigation .navigation-link {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.delete-form, .button {
	margin-bottom: 0;
}

.action {
	width: auto;
    text-align: center;
    white-space: nowrap
}